<!-- 게시글 작성 페이지 -->

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <p th:text="${sessionMessage}"></p>
    <form action="/posts/new" method="post">
        <div class="form-group">
            <label for="name">제목</label>
            <input type="text" id="title" name="title" placeholder="제목을 입력하세요"></input>
            <label for="name">작성자</label>
            <input type="text" id="writer" name="writer" placeholder="작성자를 입력하세요"></input>
            <label for="">내용</label>
            <textarea id="contents" name="contents" placeholder="글 내용을 입력하세요."></textarea>
            
        </div>
        <button type="submit">등록</button>
    </form>
</div> <!-- /container -->
</body>
</html>