<!-- 게시글 상세 페이지 -->

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <p th:text="${sessionMessage}"></p>
    <p>
        반갑습니다....
    </p>
    <thead>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>날짜</th>
    </tr>
    </thead>
    <hr/>
    <tbody>
    <tr>
        <td th:text="${post.id}"></td>
        <td th:text="${post.title}"></td>
        <td th:text="${post.contents}"></td>
        <td th:text="${post.writer}"></td>
        <td th:text="${post.date}"></td>
    </tr>
    </tbody>
</div> <!-- /container -->
    <form th:action="${'/posts/modify/'+post.id}" method="get">
        <button type="submit">수정</button> 
    </form>
    <form th:action="${'/posts/delete/'+post.id}" method="post">
        <button type="submit">삭제</button> 
    </form>
</body>
</html>