<!-- 게시글 상세 페이지 -->

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <p th:text="${sessionMessage}"></p>
    <p>
        수정 페이지
    </p>
    <form th:action="${'/posts/modify/'+post.id}" method="post">
        <label for="name">제목</label>
        <input type="text" id="title" name="title" th:value="${post.title}"></input>
        <label for="name">작성자</label>
        <input type="text" id="writer" name="writer" th:value="${post.writer}"></input>
        <label for="name">날짜</label>
        <input type="text" id="date" name="date" th:value="${post.date}"></input>
        <label for="">내용</label>
        <input type="text" id="contents" name="contents" th:value="${post.contents}"></input>    
    
        <div class="form-group">
            <button type="submit">완료</button>   
        </div>
    </form>
    

</div> <!-- /container -->
</body>
</html>